<select [(ngModel)]="column" class="form-control">
  <option disabled [ngValue]="''">Select a column</option>
  <option [ngValue]="head" *ngFor="let head of config.headers">
    {{ head }}
  </option>
</select>
<br />
<select [(ngModel)]="type" class="form-control">
  <option disabled [ngValue]="''">Select a chart Type</option>
  <option value="bar">Bar</option>
  <option value="pie">Pie</option>
  <option value="line">Line</option>
</select>
<!-- <br />

<select [(ngModel)]="_function" class="form-control">
  <option disabled [ngValue]="''">Select a function</option>
  <option value="count">Count</option>
  <option value="sum">Sum</option>
  <option value="avg">Average</option>
</select> -->

<br />

<button (click)="analyzeChart()" class="btn btn-primary">Analyze</button>
<button (click)="goBack()" class="btn btn-danger float-end">Back</button>

<div *ngIf="!done" class="spinner-border text-success" role="status">
  <span class="sr-only"></span>
</div>

<br />
<canvas id="{{ id }}"></canvas>
<br />

<br />
<ng-container>
  <h3>Actions</h3>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Action</th>
        <th>Params</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of pending_actions; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ action.name }}</td>
        <td>{{ action.params }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<div>
  <div class="form-group mb-2">
    <label for="exampleFormControlSelect1">Action</label>
    <select
      [(ngModel)]="action"
      class="form-control"
      id="exampleFormControlSelect1"
    >
      <option [ngValue]="null" disabled>Select an Action</option>
      <option
        [disabled]="_action.disabled"
        [ngValue]="_action"
        *ngFor="let _action of actions"
      >
        {{ _action.name }}
      </option>
    </select>
  </div>

  <ng-container
    *ngFor="let param_header of action?.param_headers; let i = index"
  >
    <div class="form-group mx-sm-3 mb-2">
      <label class="sr-only">{{ param_header }}</label>
      <input
        [(ngModel)]="action.params[i]"
        class="form-control"
        placeholder="e.g. 9"
      />
    </div>
  </ng-container>
</div>
<ng-container>
  <button class="btn btn-sm btn-danger" (click)="goBack()">Back</button
  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-sm btn-success float-end" (click)="add()">
    Add Action
  </button>
  <button class="btn btn-sm btn-primary" (click)="apply()">Apply</button>
</ng-container>

<table *ngIf="done" class="table">
  <tbody>
    <tr>
      <td></td>

      <td>
        <input
          type="text"
          [(ngModel)]="mergeTo"
          class="form-control"
          placeholder="Type the string you want your selections to be merged into"
        />
      </td>
      <td></td>
      <td>
        <button (click)="merge()" class="btn">Merge</button>
      </td>
      <td></td>
    </tr>
    <tr *ngFor="let label of labels; let i = index">
      <td>
        <input
          type="checkbox"
          [(ngModel)]="selections[i]"
          class="form-check-input"
        />
      </td>
      <td>{{ label }}</td>
      <td>{{ data[i] }}</td>
      <td></td>
      <td>
        <i style="color: red" class="bi bi-trash hoverable"></i>
      </td>
    </tr>
  </tbody>
</table>
