<div id="playground">
  <div
    (drag)="makeActive(i)"
    (click)="makeActive(i)"
    (mousedown)="makeActive(i)"
    class="card"
    style="position: absolute"
    [style.z-index]="state.activeWindow == i ? 10 : ''"
    *ngFor="let item of openWindows; let i = index"
    cdkDrag
  >
    <div class="drag-handle card-header" cdkDragHandle>
      <i class="bi bi-file-earmark hoverable"></i> &nbsp;
      <b>{{ setIndexAndGetName(item, i) }}</b>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span *ngIf="item.config.type == 'csv'" class="terminal"
        >rows: {{ item.config.data.length }}</span
      >&nbsp;&nbsp;
      <span class="terminal">timezone: UTC (+ 0:00)</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="bi bi-pie-chart-fill"></i>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <span (click)="save(item)">
        <i class="bi bi-save hoverable"></i>
      </span>

      <div
        class="boxclose"
        (click)="item.open = false; closeWindow(i)"
        id="boxclose"
      >
        <b>x</b>
      </div>
    </div>
    <div class="card-body">
      <app-text
        *ngIf="item.config.type == 'txt'"
        [config]="item.config"
      ></app-text>
      <app-table
        *ngIf="tableFormats.includes(item.config.type)"
        [config]="item.config"
        [endAt]="item.endAt"
        [openWindows]="openWindows"
      ></app-table>
      <app-workbook
        *ngIf="workbookFormats.includes(item.config.type)"
        [config]="item.config"
        [endAt]="item.endAt"
        [openWindows]="openWindows"
      ></app-workbook>
      <app-settings
        *ngIf="item.config.type == 'settings'"
        [config]="item.config"
        [openWindows]="openWindows"
      ></app-settings>
    </div>
  </div>
</div>
