<ul class="list-unstyled ps-0">
  <li class="mb-1" *ngFor="let item of tree">
    <span
      class="hoverable"
      matTooltip="{{ item.name }}"
      (click)="
        item.isDir ? (item.isOpen = !item.isOpen) : '';
        item.isDir ? loadDir(item) : loadFile(item)
      "
    >
      <i
        [ngClass]="
          item.isDir
            ? item.isOpen
              ? 'bi bi-folder2-open'
              : 'bi bi-folder2'
            : item.open
            ? 'bi bi-file-earmark-fill'
            : 'bi bi-file-earmark'
        "
      ></i>

      {{ item.name | cut }}
    </span>
    <i
      *ngIf="!item.isDir"
      class="bi bi-trash float-end hoverable"
      (click)="deleteFile(item)"
    ></i>
    <div *ngIf="item.isOpen" class="flex-shrink-0 p-2">
      <app-tree
        [root]="this.root + '/' + item.name"
        [tree]="item.child || []"
        [openWindows]="openWindows"
      ></app-tree>
    </div>
  </li>
</ul>
