<ul class="list-unstyled ps-0">
  <li class="mb-1" *ngFor="let item of tree">
    <span class="hoverable">
      <i
        (click)="
          item.isDir ? (item.isOpen = !item.isOpen) : '';
          item.isDir ? loadDir(item) : loadFile(item)
        "
        [ngClass]="
          item.isDir
            ? item.isOpen
              ? 'bi bi-folder2-open'
              : 'bi bi-folder2'
            : 'bi bi-file-earmark'
        "
      ></i>

      {{ item.name | cut }}
    </span>
    <div *ngIf="item.isOpen" class="flex-shrink-0 p-2">
      <app-tree
        [root]="item.name"
        [tree]="item.child || []"
        [openWindows]="openWindows"
      ></app-tree>
    </div>
  </li>
</ul>
