<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li
    class="nav-item"
    role="presentation"
    *ngFor="let sheet of config.data; let i = index"
  >
    <button
      [ngClass]="sheet.open ? 'nav-link active' : 'nav-link'"
      id="pills-home-tab"
      [attr.data-bs-toggle]="'pill'"
      type="button"
      role="tab"
      aria-controls="pills-home"
      aria-selected="true"
      (click)="sheet.open = true; activeSheet = sheet"
    >
      {{ sheet.name }}</button
    >&nbsp;
    <i
      (click)="config.data.splice(i, 1)"
      class="bi bi-trash hoverable float-end"
    ></i>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="pills-home-tab"
  >
    <span>rows: {{ activeSheet.data.length }}</span>

    <app-table
      *ngIf="tableFormats.includes(activeSheet.type)"
      [config]="activeSheet"
      [endAt]="endAt"
      [openWindows]="openWindows"
    ></app-table>

    <app-settings
      *ngIf="activeSheet.type == 'settings'"
      [config]="activeSheet"
      [openWindows]="openWindows"
    ></app-settings>
    <app-charts
      *ngIf="activeSheet.type == 'charts'"
      [config]="activeSheet"
      [openWindows]="openWindows"
    ></app-charts>
  </div>
</div>
