<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th *ngFor="let head of config.headers; let i = index">
        <span
          class="hoverable"
          (click)="
            config.type = 'charts';
            config.action = {
              analyzeColumn: head,
              type: 'manipulate',
              index: i
            }
          "
          >{{ head }}</span
        >
        <span>
          <i
            (click)="openSettings({ type: 'addColumn', index: i })"
            class="bi bi-plus float-end"
          ></i>
        </span>
      </th>
    </tr>
  </thead>
  <thead class="thead-dark">
    <tr>
      <th>0</th>
      <td *ngFor="let head of config.headers">
        <div
          *ngIf="!meta[head]?.types?.type || !config.isAnalyzed"
          class="spinner-border text-success"
          role="status"
        >
          <span class="sr-only"></span>
        </div>
        <span *ngFor="let type of meta[head]?.types?.type; let last = last"
          >{{ type }}
          <span *ngIf="meta[head]?.types?.type.length > 1"
            >({{ meta[head]?.types?.loc[type].join(";") }})
            <span *ngIf="!last">,</span>&nbsp;&nbsp;</span
          ></span
        >
        <!-- <select
          class="form-select"
          [(ngModel)]="types[head]"
          (change)="convert(head)"
        >
          <option [ngValue]="'date'">date</option>
          <option [ngValue]="'number'">number</option>
          <option [ngValue]="'string'">string</option>
        </select> -->
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of config.data | slice: 0:10; let i = index">
      <th class="hoverable" (click)="deleteRow(i)">{{ i + 1 }}</th>
      <td *ngFor="let head of config.headers">{{ item[head] | date }}</td>
    </tr>
  </tbody>
</table>
