/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  background-color: hsl(192deg 96% 11%);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hoverable:hover {
  cursor: pointer;
}

.drag-handle:hover {
  cursor: move;
}

.hidden {
  display: none;
}
